[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

docopt = "*"
kubernetes = "*"


[dev-packages]

pytest = "*"
vcrpy = "*"


[requires]

python_version = "3.5"
